/*This file is the styling for the main module*/

.nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: #684B3C;
    font-family: Raleway;
}

li {
	display: inline;
}

li a {
	color: white;
	text-align: center;
	padding: 1% 5%;
	text-decoration: none;
}